.text-xl {
  font-size: 70px;
  font-weight: bold;
}

.sub-text {
  max-width: 850px;
  margin-bottom: 10px;
  font-size: 24px;
}

.categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 90px 40px;
}

.categories .covers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 40px;
}

.categories .covers > div {
  height: 500px;
  width: 300px;
  position: relative;
}

.categories .cover__grad {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      156.82deg,
      rgba(0, 0, 0, 0.6) 4.58%,
      rgba(0, 0, 0, 0) 69.61%
    ),
    linear-gradient(24.5deg, rgba(0, 0, 0, 0.2) 4.71%, rgba(0, 0, 0, 0) 71.49%);
}

.categories .cover__text {
  position: absolute;
  top: 20px;
  left: 20px;
  text-align: left;
}

.categories .cover-1 {
  background: url("../../imgs/michael-marais-JLHyIwix46c-unsplash.jpg")
    no-repeat center center / cover;
}
.categories .cover-2 {
  background: url("../../imgs/ayo-ogunseinde-Erstoy-MuVA-unsplash.jpg")
    no-repeat center center / cover;
}
.categories .cover-3 {
  background: url("../../imgs/stone-hood-sfAEazGOY0M-unsplash.jpg")
    no-repeat center center / cover;
}
@media (max-width: 1300px) {
  .categories .covers {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1100px) {
  .categories .covers {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .categories .covers {
    grid-template-columns: 1fr;
  }

  .text-xl {
    font-size: 40px;
    line-height: 1.3;
  }

  .sub-text {
    font-size: 20px;
  }
}
